body{
 /*background: url("../images/laser_keyboard.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;*/
 
    background-color: #ffa500 !important;
}

.jumbotron {
    background-color:#8A2BE2 !important;
    text-align: center;
}
